@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.navbar{
	background-color: #1455a0;
	border: none;
	-webkit-text-fill-color: rgb(255, 255, 255);
}
.nav-links {
	justify-content: space-around;
}
.dropdown-menu{
	background-color: #1455a0;

}
.dropdown-item:hover{
	background-color:white;
	-webkit-text-fill-color: black;
}


body{
	/* background-image: linear-gradient(120deg, #3fc1e6, #1254a0); */
	-webkit-text-fill-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2{
	min-height: 20vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	-webkit-text-fill-color: rgb(0, 0, 0);
}

form{
	min-height: 10vh;
	margin: 20px 0 10px 0;
	display: flex;
	align-items: center;
	-webkit-text-fill-color: rgb(0, 0, 0);
}
h3{
	-webkit-text-fill-color: rgb(0, 0, 0);
}
p{
	min-height: 10vh;
	justify-content: left;
	position: relative;
	-webkit-text-fill-color: rgb(0, 0, 0);
}
.list-group{
	justify-content: center;
	position: relative;
	-webkit-text-fill-color: rgb(0, 0, 0);
}
.container{
	font-size: medium;
	color:rgb(0, 0, 0);
}

.table{
	background-color: #175eaf;
}
.form-control li{
	width: fit-content;
	margin: 0;
}
.required{
	color: rgb(255, 0, 0);
}

.form-test{
	font-size: medium;
}

textarea{
	width:max-content;

	
}

.form-style ,li{
	padding: 0;
	list-style: none;
	margin: 20px 0 0 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


